/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #58504E;
    color: #333;
}

h1 {
    color: #007BFF;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 0;
    position: relative;
    top: 0;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-size: 18px;
}

.navbar span {
    color: #333;
}
